/* //skills and projects have same format on mobile
// header is centered, click right arrow button to view next skill or project */

* {
  font-family: 'Athiti', sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --server-height: 425px;
  --server-width: 275px;
  --server-color-face: whitesmoke; 
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
}

nav {
  position: sticky;
  top: 0px;
  background-color: black;
  z-index: 1;
  padding: 5px 0px;
}

.nav-links-container{    
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  margin: 0 auto;
}

.nav-link{
  color: white;
  text-decoration: none;
  font-size: 24px; 
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white; 
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-link-active:before {
  visibility: visible;
  transform: scaleX(1);
}

.mock-mobile-container{
  margin-top: 10vh;
  margin-bottom: 10vh; 
}

.mock-mobile-device {
  position: relative;
  width: 300px;
  height: 450px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 25px;
  border: 1px solid black;
}

.mock-mobile-button{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  background-color: white;
  margin: 15px auto;
  border-radius: 25px;
  box-shadow: 1px 1px 1px grey;
}

.mock-mobile-screen{
  opacity: 1;
  transition: 0.5s ease;
  border-radius: 25px;
  border: 1px solid whitesmoke;
  width: 275px;
  height: 375px;
  margin: 20px auto;
  display: block;
  box-shadow: 2px 2px 1px lightgrey;
}

.skills-section .mock-mobile-device:hover{

}

.section-header{
  padding: 10px; 
}

.section-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.section-projects .mock-mobile-device:hover {
  transition: 0.5s ease;
  box-shadow: inset 5px 5px 25px black;
}

.section-projects .mock-mobile-device:hover .mock-mobile-button{
  display: none; 
}

.section-projects .mock-mobile-device:hover .project-image {
  opacity: 0.1;
}

.section-projects .mock-mobile-device:hover .project-image-overlay {
  opacity: 1;
}

.section-projects .project-image {
  width: 100%;
  max-width: 300px;
  border-radius: 25px;
  height: 100%;
}

.section-projects .project-image-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 25px;
}

.section-projects .project-image-link {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 10px;
  margin: 90px auto;
  display: block;
  font-size: 28px;
  text-align: center;
  width: 250px;
}

.section-projects .project-image-link:hover{
  box-shadow: 1px 1px 10px whitesmoke;
}

.section-projects .project-image-text {
  font-size: 21px;
  width: 250px;
  height: 200px;
  color: white;
  margin: 25px auto;
}

.section-skills{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-skills .front-end-list{
  list-style: none;
  font-size: 21px;
  padding: 0px;
}

.section-skills .front-end-list>li{
  border: 1px solid grey;
  border-radius: 25px;
  margin-top: 10px;
  width: 225px;
  margin: 10px auto;
  padding: 5px;
  padding-left: 25px;
  box-shadow: 1px 1px 1px grey;
}

.stack-header{
  padding: 15px;
}

.section-skills .back-end-container {
  background: var(--server-color-face);
  width: var(--server-width);
  height: var(--server-height);
  position: relative;
  color: black;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.section-skills .back-end-container::before {
  content: "";
  display: inline-block;
  background: #e0e0e0;
  width: var(--server-width);
  height: 20px;
  transform: skewX(-40deg);
  position: absolute;
  top: -20px;
  left: 8px;
}

.section-skills .back-end-container::after {
  content: "";
  display: inline-block;
  background: #a8a8a8;
  width: 16px;
  height: var(--server-height);
  transform: skewY(-50deg);
  position: absolute;
  top: -10px;
  left: 100%;
  box-shadow: 2px 2px 10px grey;
}

.section-skills .back-end-container h2 {
  text-align: center;
  background-color: var(--server-color-face);
  margin-bottom: 5px;
}

.section-skills .back-end-container ul {
  padding: 0px;
  margin-top: 0px;
}

.section-skills .back-end-container li {
  background-color: var(--server-color-face);
  border: 1px solid grey;
  box-shadow: 5px 5px 10px grey;
  border-radius: 5px;
  padding: 5px;
  font-size: 21px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.section-skills .back-end-text {
  background-color: var(--server-color-face);
  width: 100px;
}

.section-skills .back-end-lines {
  width: 150px;
  height: 10px;
  display: inline-block;
  border-radius: 25px;
  margin-right: 10px;
  animation: shimmer 5s infinite;
  background: repeating-linear-gradient(0.1turn, white, #1d8c41);
  background-size: 1000px 100%;
  border: 1px solid grey;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  25% {
    box-shadow: 2px 2px 5px green;
  }

  50% {
    box-shadow: 2px 2px 5px #069131;
  }

  100% {
    background-position: 1000px 0;
    box-shadow: 2px 2px 5px white;
  }
}


/* wide screen devices */
@media only screen and (min-width: 700px){
  .mock-mobile-container{
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .section-skills .back-end-container{
    margin-bottom: 0vh;
    margin-top: 0vh;
  }
}

/* vertically centering elements in Skills and Projects section */
@media only screen and (max-height: 568px){
  .mock-mobile-container{
    margin-top: 0vh;
  }
}


@media only screen and (min-height: 725px){
  .mock-mobile-container{
    margin-bottom: 15vh;
    margin-top: 15vh;
  }

  .section-skills .back-end-container{
    margin-bottom: 20vh;
  }
}
